#project_section {
  width: 100%;
  padding: 10px 60px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--blue);
  color: var(--white);
  align-items: center;
}
@media (min-width: 510px) {
  #project_section {
    padding: 10px 90px 10px 0px;
  }
}

#all_projects_container {
  width: 100%;
  height: 132px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: hidden;
  overflow-x: auto;
  justify-content: center;
  scrollbar-width: thin;
  background-color: var(--blue);
  scrollbar-color: var(--blue) var(--blue);
}

@media (min-width: 450px) {
  #all_projects_container {
    padding: 10px 20px;
  }
}
@media (min-width: 510px) {
  #all_projects_container {
    padding: 10px 40px 10px 40px;
  }
}
.project_container {
  width: 250px;
  height: 132px;
  background-image: url(../assests/project_images/1.png);
  background-size: contain;
  background-color: var(--white);
  margin: 10px;
  flex-shrink: 0;
  transition: height 0.5s, width 0.5s;
  border-radius: 10px;
}

@media (min-width: 400px) {
  .project_container {
    width: 300px;
    height: 159px;
  }
  #all_projects_container {
    height: 159px;
  }
}
@media (min-width: 590px) {
  .project_container {
    width: 400px;
    height: 211px;
  }
  #all_projects_container {
    height: 211px;
  }
}

@media (min-width: 890px) {
  .project_container {
    width: 700px;
    height: 370px;
  }
  #all_projects_container {
    height: 370px;
  }
}

@media (min-width: 1200px) {
  .project_container {
    width: 1000px;
    height: 530px;
  }
  #all_projects_container {
    height: 530px;
  }
}
.project {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  transition: all 0.3s;
}
.project_container > .project > h3 {
  font-size: 24px;
}
.project_container > .project > h4 {
  font-size: 16px;
  font-weight: normal;
}
@media (min-width: 590px) {
  .project_container > .project > h3 {
    font-size: 32px;
  }
  .project_container > .project > h4 {
    font-size: 20px;
    font-weight: normal;
  }
}

@media (min-width: 890px) {
  .project_container > .project > h3 {
    font-size: 36px;
  }
  .project_container > .project > h4 {
    font-size: 24px;
    font-weight: normal;
  }
}

@media (min-width: 1200px) {
  .project_container > .project > h3 {
    font-size: 54px;
    margin-bottom: 15px;
  }
  .project_container > .project > h4 {
    font-size: 30px;
  }
}

.project_container:hover > .project {
  background-color: rgba(0, 0, 0, 0.425);
  opacity: 1;
  color: var(--white);
}

#navigation_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  width: 250px;
}
.project_navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.26);
  opacity: 0.3;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.project_navigation:hover {
  background-color: var(--black);
  opacity: 0.5;
  color: var(--white);
}
@media (min-width: 450px) {
  #navigation_container {
    width: 275px;
  }
}

@media (min-width: 510px) {
  #navigation_container {
    width: 350px;
  }
}

#navigation_progress_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 10px;
}
#navigation_progress {
  width: 0%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--black);
  transition: width 0.2s;
}

#project_preview_background {
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9;
}
#project_preview_container {
  width: calc(100% - 85px);
  margin: 0px;
  height: calc(100% - 30px);
  border-radius: 5px;
  padding: 10px;
  background-color: var(--light-black);
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 10;
  display: none;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
}

#close_preview_btn {
  font-size: 20px;
  padding: 10px;
  color: var(--blue);
  cursor: pointer;
  transition: all 0.3s;
}
#close_preview_btn:hover {
  color: var(--white);
  transform: rotate(180deg);
}
@media (min-width: 510px) {
  #project_preview_container {
    width: calc(100% - 150px);
    height: calc(100% - 60px);
    top: 30px;
    left: 30px;
  }
  #close_preview_btn {
    font-size: 30px;
  }
}
#project_preview {
  width: 100%;
  height: calc(100% - 60px);
  overflow-x: hidden;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--black) var(--light-black);
}
#project_preview_row_1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 10px 0px;
}

#project_preview_image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@media (min-width: 774px) {
  #project_preview_row_1 {
    flex-direction: row;
    justify-content: flex-start;
  }

  #project_preview_image {
    width: 50%;
    height: auto;
  }
  #project_details {
    margin: 0px 10px;
  }
}
@media (min-width: 1000px) {
  #project_preview_image {
    width: 40%;
  }
}

.project_details_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 10px 0px;
}
.project_detail_value {
  position: relative;
  display: inline-block;
}
.project_detail_value > div {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
}
#project_section h3 {
  font-size: 28px;
  font-weight: normal;
}
#project_section h4 {
  font-size: 18px;
  font-weight: normal;
}

#avalible_on_container {
  margin: 10px 0px;
}
#avalible_on > p > a {
  color: var(--blue);
  text-decoration: none;
}

#about_project_container {
  margin: 10px 0px;
}
#project_description,
#avalible_on {
  font-size: 14px;
  margin: 10px 0px 10px 10px;
}

@media (min-width: 454px) {
  #project_section h3 {
    font-size: 36px;
  }
  #project_section h4 {
    font-size: 20px;
  }

  #project_description,
  #avalible_on {
    font-size: 16px;
  }
}

@media (min-width: 1000px) {
  #project_section h3 {
    font-size: 48px;
  }
  #project_section h4 {
    font-size: 24px;
  }
  #project_description,
  #avalible_on {
    font-size: 18px;
  }
}
